.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.calculator__button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #494949;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 5px;
}

.calculator_button-minus {
  background-color: #fabe64; 
  color: #2c2c2c; 
}

.calculator_button-plus {
  background-color: #a2faa2; 
  color: #2c2c2c; 
}

.calculator_button-minus:hover {
  background-color: #fa8e00; 
  color: #fff; 
}

.calculator_button-plus:hover {
  background-color: #09ff00; 
  color: #fff; 
}
.calculator_display {
  font-size: 36px;
  font-family: "Consolas", sans-serif;
  padding: 10px;
}
